apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: traefik
data:
  traefik-config.yaml: |
    apiVersion: helm.cattle.io/v1
    kind: HelmChartConfig
    metadata:
      name: traefik
      namespace: kube-system
    spec:
      valuesContent: |-
        dashboard:
          enabled: true
        image:
          repository: docker.io/library/traefik
          tag: 3.3.5
        ports:
          web:
            forwardedHeaders:
              trustedIPs:
                - 10.0.0.0/8

